@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager Navigation
@namespace SunRaysMarket.Client.Components
@rendermode InteractiveAuto

<EditForm class="search" Model="@Model" FormName="productSearch" OnValidSubmit="OnSearchSubmit">
    <InputText
        type="text"
        class="search__input"
        placeholder="Search for products"
        @bind-Value="Model.Query"/>
    <button type="submit" class="search__button">
        <svg class="search__icon">
            <use href="/img/icons/solid.svg#magnifying-glass"></use>
        </svg>
    </button>
</EditForm>

@code {
    private ProductSearchCommand Model { get; set; } = new();

    private void OnSearchSubmit()
    {

        var queryStrings = new Dictionary<string, string?>
        {
            {"query",  Model.Query}
        };
        
        Navigation.NavigateTo(QueryHelpers.AddQueryString("search", queryStrings));
    }
}