@page
@model Web.Pages.Admin.User.Index

@{
    ViewData["Title"] = "User Admin Page";
}


<div class="layout__content">
    <a href="/Admin/User/Add" class="btn btn--primary">
        Add User
    </a>
</div>

<div class="layout__content">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Name</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>jack.black@example.com</td>
            <td>Black, Jack</td>
            <td>Admin, Manager</td>
            <td>
                <a href="#">Edit</a> |
                <a href="#">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>