@use "../abstracts/variables" as var;

body {
  font-size: 1.6rem;
  font-family: var.$typeface-primary;
}
.section-heading {
  font-size: var.$fs-4xl;
  font-weight: var.$weight-light;
  margin-bottom: var.$spacing-m;
  color: var.$color-primary-medium;
}