@using SunRaysMarket.Server.Components.Enums
<PageLayout CssClasses="footer" ContentWidth="ContentWidth.PageFull" FitVerticalContent="false">
    <div class="footer__content">
        <ul class="footer__list">
            <li class="footer__item">
                <a href="#" class="footer__link"> About Us </a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link"> Contact Us </a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link"> Store Locations </a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link"> Careers </a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link"> Privacy Policy </a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link"> Terms & Conditions </a>
            </li>
        </ul>
        <div class="copyright">
            <p>&copy; 2021 Sun Rays Market. All Rights Reserved.</p>
        </div>
    </div>
</PageLayout>

@code {

}