@using SunRaysMarket.Server.Components.Enums
@inherits LayoutComponentBase

<PageLayout LayoutType="LayoutType.Application" Element="div" xmlns="http://www.w3.org/1999/html">
    <div class="topbar">
        <div class="topbar__content">
            <a href="#" class="topbar__brand">
                <img src="img/logo.png" alt="Sun Rays Market Logo"/>
            </a>

            <ProductSearch />
            <TopBarNav />
        </div>
    </div>
    <nav class="nav">
        <div class="nav__content">
            <NavDepartments />
            <NavAccount />
        </div>
    </nav>
    <PageLayout LayoutType="LayoutType.Page">
        @Body
        <MainFooter />
    </PageLayout>
</PageLayout>

<Modal />
