            <nav class="topbar__nav">
                <a href="#" class="store">
                    <svg class="store__icon">
                        <use href="/img/icons/solid.svg#store"></use>
                    </svg>

                    <h6 class="store__heading">
                        Your Store
                    </h6>
                    <span class="store__location">North McAllen</span>
                    <svg class="store__chevron">
                        <use href="/img/icons/solid.svg#chevron-down"></use>
                    </svg>
                </a>
                <NavLink href="shopping-cart" class="cart">
                    <svg class="cart__icon">
                        <use href="/img/icons/solid.svg#cart-shopping"></use>
                    </svg>
                    <span class="cart__count">4</span>
                </NavLink>
            </nav>

@code {
    
}