<nav class="topbar__nav">
    <PreferredStoreSelector/>
    <NavLink href="shopping-cart" class="cart">
        <svg class="cart__icon">
            <use href="/img/icons/solid.svg#cart-shopping"></use>
        </svg>
        <span class="cart__count">4</span>
    </NavLink>
</nav>

@code {

}