@namespace SunRaysMarket.Server.Components

<div class="hero-home">
        <img src="img/hero-bg.png" alt="" class="hero-home__img"/>
        <div class="hero-home__content">
            <h3 class="hero-home__heading">Save up to 50% on produce this week</h3>
            <NavLink href="#" class="btn btn--primary"> Shop Now </NavLink>
        </div>
    </div>


@code {

}