@page
@model Web.Pages.Admin.ProductType.Index

@{
ViewData["Title"] = "Product Type Admin Page";
ViewData["LayoutClasses"] = "admin-page";
ViewData["ShowFooter"] = false;
}

<div class="layout layout__full admin-header">
    <h1 class="admin-header__heading">Product Types Admin Page</h1>
</div>

<div class="layout__content">
    <a href="/Admin/ProductType/Add" class="btn btn--primary">
        Add Product Type
    </a>
</div>

<div class="layout__content">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        
        @foreach (var productType in Model.ProductTypes)
        {
            <tr>
                <td>1</td>
                <td>@productType.Name</td>
                <td></td>
                <td>@productType.DepartmentName</td>
                <td>
                    <a href="#">Edit</a> |
                    <a href="#">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>