@page "/checkout"
@inherits OwningComponentBase<ICartService>
@using SunRaysMarket.Server.Components.Enums

<AuthorizeView Roles="Customer">
    <Authorized>
        @if (ShowContent)
        {
            <PageLayout CssClasses="checkout" ContentWidth="ContentWidth.PageFull" Element="div">
                <h1 class="">Checkout</h1>
                <CheckoutContent Summary="@Summary"/>
            </PageLayout> 
        }
    </Authorized>
    <NotAuthorized>
        <AutoNavigator Route="login" />
    </NotAuthorized>
</AuthorizeView>


@code {
    private CartSummaryModel Summary { get; set; } = default!;
    private bool ShowContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Summary = (await Service.GetActiveCartItemsAsync()).GetCartSummary();
        ShowContent = true;
    }

}