@page "/checkout"
@using SunRaysMarket.Server.Components.Enums

<AuthorizeView Roles="Customer">
    <Authorized>
        <PageLayout CssClasses="checkout" ContentWidth="ContentWidth.PageContent">
            <h1 class="">Checkout</h1>
            <CheckoutContent/>
        </PageLayout>
    </Authorized>
    <NotAuthorized>
        <AutoNavigator Route="login" />
    </NotAuthorized>
</AuthorizeView>


@code {

}