@inherits OwningComponentBase<IProductService>
@page "/Departments/{slug}/{id:int}"


<main class="layout layout__full">
    <ProductSection Heading="Featured Products" FeaturedProducts="@Products" />
</main>

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public string Slug { get; set; } = string.Empty;

    private IAsyncEnumerable<ProductListModel> Products { get; set; } = default!;

    protected override void OnInitialized()
    {
        Products = Service.GetAllProductsAsync(Id);
    }

}