@using Application.UnitOfWork
@inherits OwningComponentBase<IUnitOfWork>

@page "/"

<AppPageTitle>Home</AppPageTitle>

<MainHeader>
    <HeroHome/>
</MainHeader>

<main class="layout layout__full main-home">
    <ProductSection Heading="Featured Products" FeaturedProducts="@Products"/>
</main>

@code {
    private IAsyncEnumerable<ProductListModel> Products { get; set; } = default!;


    protected override void OnInitialized()
    {
        base.OnInitialized();
        Products = Service.ProductRepository.GetAllAsync();
    }

}