@page "/Search"
@inherits OwningComponentBase<IProductService>

<main class="layout layout__full">
    @*<ProductSection Heading="Search Results" FeaturedProducts="@Products"/>*@
</main>

@code { 
    [SupplyParameterFromQuery] public string? Query { get; set; }

    private IEnumerable<ProductListModel> Products { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        Products = await Service.SearchForProductsAsync(Query);
    }

}