@page "/shopping-cart"
@*@attribute [StreamRendering]*@
@inherits OwningComponentBase


<PageLayout CssClasses="shopping-cart" ContentWidth="ContentWidth.PageContent">
    <h3 class="cart-title">Shopping Cart</h3>
    <CartPageContent CartItems="@CartItems" CartItemInfoList="@CartItemInfoList" ComponentUiState="@_uiState"/>
</PageLayout>

@code {
    private UiState _uiState = UiState.Loading;


#nullable disable
    private ICartControlsService CartControlsService { get; set; }
#nullable enable

    private IEnumerable<CartItemListModel> CartItems { get; set; } = [];
    private IEnumerable<CartItemControlModel> CartItemInfoList { get; set; } = [];


    protected override async Task OnInitializedAsync()
    {
        var cartService = ScopedServices.GetRequiredService<ICartService>();
        var cartControlsService = ScopedServices.GetRequiredService<ICartControlsService>();

        CartItems = await cartService.GetActiveCartItemsAsync();
        CartItemInfoList = await cartControlsService.GetAllCartItemInfoAsync();

        _uiState = UiState.Loaded;
    }

}