@namespace SunRaysMarket.Libraries.Components

@if (string.IsNullOrEmpty(ColorProperty) && string.IsNullOrEmpty(SizeProperty))
{
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
}
else
{
    var colorStyle = !string.IsNullOrEmpty(ColorProperty)
        ? $"--lds-ring-color: {ColorProperty};"
        : string.Empty;

    var sizeStyle = !string.IsNullOrEmpty(SizeProperty)
        ? $"--lds-ring-size: {SizeProperty};"
        : string.Empty;
    var style = colorStyle + sizeStyle;
    
    <div class="lds-ring" style="@style">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
}

@code {
    [Parameter] public string ColorProperty { get; set; } = string.Empty;
    [Parameter] public string SizeProperty { get; set; } = string.Empty;
}