@using Application.DomainModels
<div class="cart-item">
    <img src="@Model.ProductPhotoUrl" alt="Product photo" class="cart-item__img">
    <h5 class="cart-item__product-name">@Model.ProductName</h5>
    <p class="cart-item__product-price">@Model.ProductPrice</p>
    <p class="cart-item__product-quantity">@Model.Quantity</p>
</div>

@code {
    [Parameter]
    public CartItemListModel Model { get; set; } = null!;
    
}