<div class="modal" id="modal">
    <div class="@AllContentClasses" id="modalContent">
        @if(ChildContent is not null)
        {
            @ChildContent
        }
    </div>
</div>

<script>
    initializeModal('@ModalOutletId');
</script>

@code {
    
    [Parameter]
    public string ContentClasses { get; set; } = string.Empty;

    [Parameter]
    public string ModalOutletId { get; set; } = "modalOutlet";
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    
    private string AllContentClasses => $"modal__content {ContentClasses}".Trim();

}