@using Microsoft.AspNetCore.Components.Forms

<Modal ContentClasses="signup">
    <h3 class="auth__title">Sign Up</h3>
    <ModalCloseButton CssClasses="auth__close-btn"/>
    
    <form hx-post="/components/sign-up" method="post" class="form--auth">
        <div>
            <input type="email" class="form__input" placeholder="Enter your email address" id="signUpEmail" name="Email">
            <label for="signUpEmail" class="form__label form__label--input">Email</label>
        </div>
        <div>
            <input type="password" class="form__input" placeholder="Enter your password" id="signUpPassword" name="Password">
            <label for="signUpPassword" class="form__label form__label--input">Password</label>
        </div>

        <div>
            <input type="password" class="form__input" placeholder="Confirm your password" id="signUpPasswordConfirm" name="ConfirmPassword">
            <label for="signUpPasswordConfirm" class="form__label form__label--input">Confirm Password</label>
        </div>

        <div>
            <input type="text" class="form__input" placeholder="Enter your first name" id="signUpFirstName" name="FirstName"/>
            <label for="signUpFirstName" class="form__label form__label--input">First Name</label>
        </div>
        <div>
            <input type="text" class="form__input" placeholder="Enter your last name" id="signUpLastName" name="LastName"/>
            <label for="signUpLastName" class="form__label form__label--input">Last Name</label>
        </div>

        <AntiforgeryToken></AntiforgeryToken>
        <button type="submit" class="btn btn--primary btn--md">Sign Up</button>
    </form>
</Modal>

@code {

    [Parameter]
    public string WizardStep { get; set; } = "Info";

}