@page
@model Web.Pages.Admin.Cart.Index

@{
    ViewData["Title"] = "Carts Admin Page";
    ViewData["LayoutClasses"] = "admin-page";
    ViewData["ShowFooter"] = false;
}

<div class="layout__content">
    <table class="table">
        <thead>
        <tr>
        <th>Id</th>
        <th>Customer</th>
        <th>Created</th>
        <th>Last Updated</th>
        <th>Actions</th>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Jack Black</td>
            <td>2 hours ago</td>
            <td>2 hours ago</td>
            <td>
            <a href="#">View</a> |
            <a href="#">Delete</a>
        </tr>
        <tr>
            <td>1</td>
            <td>Jack Black</td>
            <td>2 hours ago</td>
            <td>2 hours ago</td>
            <td>
            <a href="#">View</a> |
            <a href="#">Delete</a>
        </tr>
        <tr>
            <td>1</td>
            <td>Jack Black</td>
            <td>2 hours ago</td>
            <td>2 hours ago</td>
            <td>
            <a href="#">Details</a> |
            <a href="#">Delete</a>
        </tr>
        <tr>
            <td>1</td>
            <td>Jack Black</td>
            <td>2 hours ago</td>
            <td>2 hours ago</td>
            <td>
            <a href="#">View</a> |
            <a href="#">Delete</a>
        </tr>
        </tbody>
    </table>
</div>