@page "/Admin/Order/Details/{id:int}"
@model Web.Pages.Admin.Order.Details

@{
    ViewData["Title"] = "Order Details Admin Page";
}

<div class="layout layout__full admin-header">
    <h1 class="admin-header__heading">Order Details</h1>
</div>

<div class="order-summary layout__content">
    <div class="order-summary__item">
        <div class="order-summary__item__label">Order Id</div>
        <div class="order-summary__item__value">1</div>
    </div>
    <div class="order-summary__item">
        <div class="order-summary__item__label">Customer</div>
        <div class="order-summary__item__value">John Doe</div>
    </div>
    <div class="order-summary__item">
        <div class="order-summary__item__label">Store</div>
        <div class="order-summary__item__value">McAllen</div>
    </div>
    <div class="order-summary__item">
        <div class="order-summary__item__label">Status</div>
        <div class="order-summary__item__value">Created</div>
    </div>
    <div class="order-summary__item">
        <div class="order-summary__item__label">Total</div>
        <div class="order-summary__item__value">$100</div>
    </div>
    <div class="order-summary__item">
        <div class="order-summary__item__label">Created</div>
        <div class="order-summary__item__value">2021-10-10</div>
    </div>
    <div class="order-summary__item">
        <div class="order-summary__item__label">Updated</div>
        <div class="order-summary__item__value">2021-10-10</div>
    </div>
</div>


<div class="layout__content">
    <table class="table">
        <thead>
        <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Total</th>
        <th>Actions</th>
        </thead>
        <tbody>
        <tr>
            <td>
                <img src="" alt="" class="admin-thumbnail">
                <span>Large Grade A Eggs</span>
            </td>
            <td>$1.99</td>
            <td>$0.00</td>
            <td>$1.99</td>
            <td>
            <a href="#">Remove</a>
            <a href="#">Substitute</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>