@page
@model Web.Pages.Admin.Order.Index

@{
    ViewData["Title"] = "Orders Admin Page";

}

<div class="layout__content">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Customer</th>
            <th>Store</th>
            <th>Status</th>
            <th>Total</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>John Doe</td>
            <td>McAllen</td>
            <td>Created</td>
            <td>$100</td>
            <td>2021-10-10</td>
            <td>2021-10-10</td>
            <td>
                <a href="/Admin/Order/Details/1">Details</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>