@inherits OwningComponentBase<SunRaysMarket.Server.Application.Repositories.IUserRepository>
@page "/admin/users"

<SectionContent SectionName="page-title">@PageTitle</SectionContent>

<div class="layout__content">
    <a href="/Admin/User/Add" class="btn btn--primary">
        Add User
    </a>
</div>

<div class="layout__content">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Name</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.FullNameReverse</td>
                <td> Missing </td>
                <td>
                    <NavLink href=@($"/admin/users/edit-roles/{user.Id}")>Edit Roles</NavLink> |
                    <NavLink href=@($"/admin/users/delete/{user.Id}")>Delete</NavLink>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code {
    private IEnumerable<UserListModel> Users { get; set; } = new UserListModel[] { };

    private const string PageTitle = "Users List";

    protected override async Task OnInitializedAsync()
    {
        Users = await Service.GetUsersAsync();
    }

}