@page
@model Web.Pages.Admin.Products.Add

@{
    ViewData["Title"] = "Add Product";
}

<form class="form--admin" enctype="multipart/form-data" method="post">
    <div class="form__admin-group">

        <div>
            <input type="text" class="form__input" placeholder="Enter product name" id="name" asp-for="NewProduct.Name">
            <label for="name" class="form__label form__label--input">Name</label>

        </div>
        <div>
            <input type="text" class="form__input" placeholder="Enter product description" id="description" asp-for="NewProduct.Description">
            <label for="description" class="form__label form__label--input">Description</label>

        </div>
        <div>
            <input type="file" class="form__input" placeholder="Upload a product photo" id="photoFile" asp-for="ImageFile">
            <input type="hidden" id="photoUrl">
            <label for="photoFile" class="form__label form__label--input">ProductPhoto</label>
        </div>
        <div>
            <input type="text" class="form__input" placeholder="Price = $0.00" id="price" asp-for="NewProduct.Price">
            <label for="price" class="form__label form__label--input">Price</label>
        </div>
        <div>
            <input type="text" class="form__input" placeholder="Discount = 0%" id="discount" asp-for="NewProduct.DiscountPercent">
            <label for="discount" class="form__label form__label--input">Discount</label>
        </div>
        <div>
            <input type="text" class="form__input" placeholder="Enter the measure" id="measure" asp-for="NewProduct.Measure">
            <label for="measure" class="form__label form__label--input">Discount</label>
        </div>
    </div>

    <div class="form__admin-group">
        <div>
            <select class="form__select" id="unitOfMeasurement" asp-items="Model.UnitsOfMeasure" asp-for="NewProduct.UnitOfMeasureId">
            </select>
            <label for="unitOfMeasurement" class="form__label">Unit of Measure</label>
        </div>
        <div>
            <select class="form__select" id="productType" asp-items="Model.ProductTypes" asp-for="NewProduct.ProductTypeId">
            </select>
            <label for="productType" class="form__label">Unit of Measure</label>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn--primary">
            Submit
        </button>
    </div>
</form>