@use "../abstracts/mixins" as mxn;
@use "../abstracts/variables" as var;

.btn {
  &,
  &:link,
  &:visited {
    @include mxn.btn-base;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
  }

  &--sm {
    &,
    &:link,
    &:visited {
      padding: var.$spacing-xs var.$spacing-s;
      font-size: var.$fs-xs;
    }
  }

  &--md {
    &,
    &:link,
    &:visited {
      padding: var.$spacing-s var.$spacing-m;
      font-size: var.$fs-s;
    }
  }

  &--lg {
    &,
    &:link,
    &:visited {
      padding: var.$spacing-m var.$spacing-2xl;
      font-size: var.$fs-l;
    }
  }
  
  &--round {
    &,
    &:link,
    &:visited {
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      padding: var.$spacing-xs;
    }
  }

  &--primary {
    background-color: var.$color-primary-dark;
    color: #fff;

    &:hover {
      background-color: var.$color-primary-medium;
    }

    &:active {
      background-color: var.$color-primary-light;
    }
  }

  &--pill {
    border-radius: 10rem;
  }
}