@use "../abstracts/variables" as var;

.cart-controls {
  display: none;
  gap: var.$spacing-s;
  justify-content: space-between;
  align-items: center;

  &--visible {
    display: flex;
  }

  &__add-icon {
    aspect-ratio: 1 / 1;
    fill: #fff;

    &--sm {
      width: var.$fs-m;
    }
    
    &--md {
      width: var.$fs-l;
    }
  }

  &__remove-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__remove-icon {
    width: var.$fs-2xl;
    aspect-ratio: 1 / 1;
    fill: var.$color-danger;
  }

  &__remove-btn:hover > &__remove-icon {
    fill: lighten(var.$color-danger, 10%);
  }

}

.quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  background-color: var.$color-primary-dark;
  padding: var.$spacing-xs var.$spacing-s;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    svg {
      aspect-ratio: 1 / 1;
      fill: var.$color-grey-light-1;
    }

  }

  button:hover > svg {
    fill: var.$color-grey-dark-1;
  }

  button:disabled > svg {
    fill: var.$color-grey-light-2;
  }

  &__divider {
    width: 1px;
    height: var.$spacing-s;
    background-color: var.$color-grey-light-2;
  }

  input {
    font-weight: 300;
    color: var.$color-grey-light-1;
    border: none;

    text-align: center;
    appearance: textfield;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  &--sm {
    button svg {
      width: var.$fs-xs;
    }

    input {
      padding: 0 var.$spacing-2xs;
      width: var.$spacing-m;
      font-size: var.$fs-xs;
    }

  }

  &--md {

    button svg {
      width: var.$fs-m;
    }

    input {
      padding: 0 var.$spacing-xs;
      width: var.$spacing-xl;
      font-size: var.$fs-m;
    }

  }

  &--lg {

    button svg {
      width: var.$fs-l;

    }

    input {
      padding: 0 var.$spacing-s;
      width: var.$spacing-2xl;
      font-size: var.$fs-l;
    }

  }
}