@use "../abstracts/variables" as var;

.cart-controls {
  display: none;
  gap: var.$spacing-s;
  justify-content: space-between;
  align-items: center;
  
  &--visible {
    display: flex;
  }

  &__add-icon {
    width: var.$fs-l;
    aspect-ratio:  1 / 1;
    fill: #fff;
  }

  &__remove-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  

  &__remove-icon {
    width: var.$fs-2xl;
    aspect-ratio: 1 / 1;
    fill: var.$color-danger;
  }

  &__remove-btn:hover > &__remove-icon {
    fill: lighten(var.$color-danger, 10%);
  }
  
}

.quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  background-color: var.$color-primary-dark;
  padding: var.$spacing-xs var.$spacing-s;
  
  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__btn:hover > &__icon {
    fill: var.$color-grey-dark-1;
  }

  &__btn:disabled > &__icon {
    fill: var.$color-grey-light-2;
  }

  &__divider {
    width: 1px;
    height: var.$spacing-s;
    background-color: var.$color-grey-light-2;
  }

  &__icon {
    width: var.$fs-m;
    aspect-ratio: 1 / 1;
    fill: var.$color-grey-light-1;
  }
  
  &__input {
    font-size: var.$fs-m;
    font-weight: 300;
    color: var.$color-grey-light-1;
    border: none;
    padding: 0 1rem;
    width: 4rem;
    text-align: center;
    appearance: textfield;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }
}