@use "../abstracts/mixins" as mxn;
@use "../abstracts/variables" as var;

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  column-gap: var.$spacing-m;
  row-gap: var.$spacing-xl;
}

.product-card {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content 16rem min-content 1fr min-content;

  border-radius: 10px;
  padding: var.$spacing-m;
  overflow: hidden;
  background-color: #fff;
  //box-shadow: 0 0.25rem 1.25rem rgba(#000, 0.15);
  transition: all 250ms ease-in-out;

  &:hover {
    transform: translateY(-0.1rem) scale(1.01);
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);

  }
  
  &__screen {
    grid-column: 1  / -1;
    grid-row: 1 / -2;
    
    background-color: transparent;
    cursor: pointer;
    z-index: 20;
  }

  &__img {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    justify-self: center;
    
    display: block;
    height: 100%;
    object-fit: fill;
    object-position: center;
  }

  &__product-name {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: end;

    //max-width: 20ch;
    font-size: var.$fs-l;
    font-weight: 300;
    color: var.$color-grey-dark-2;
    margin-bottom: var.$spacing-xs;
  }

  &__price {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    align-self: start;
    justify-self: start;
  }
  
  &__unit-price {
    grid-column: 2 / -1;
    grid-row: 4 / 5;
    align-self:  start;
    justify-self: end;
  }
  
  &__cart-controls {
    grid-column: 1 / -1;
    grid-row: 5 / -1;
    align-self: end;
    justify-self: end;
    
    margin-top: var.$spacing-s;
  }

  &__btn {
    @include mxn.btn-base;
    background-color: var.$color-primary-dark;
    color: #fff;
    padding: var.$spacing-s var.$spacing-m;
    font-size: var.$fs-s;
    
    &:hover {
      background-color: var.$color-primary-medium;
    }
  }

  &__tag {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    justify-self: start;
    align-self: start;
  }
}