@use "../abstracts/mixins" as mxn;
@use "../abstracts/variables" as var;

.shopping-cart {
  display: grid;
  grid-template-columns:  1fr max-content;
  column-gap: var.$spacing-6xl;
  grid-template-rows:  repeat(3, min-content) 1fr;
  row-gap: var.$spacing-xl;

  margin: var.$spacing-3xl 0;
  
  @include mxn.media(tab-land)
  {
    column-gap: var.$spacing-4xl;
  }
  
  @include mxn.media(tab-port)
  {
    display: flex;
    flex-direction: column;
  }
}

.cart-title {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  align-self: center;

  display: inline-block;
  
  font-size: var.$fs-5xl;
}

.cart-item-display {
  grid-column: 1 / 2;
  grid-row:  2 / 4;

  display: flex;
  flex-direction: column;
  gap: var.$spacing-l;
}

.cart-item {
  display: flex;
  //gap: var.$spacing-l;
  align-items: center;
  
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 1.25rem rgba(#000, 0.15);

  &__product-img {
    display: inline-block;
    width: 8rem;
  }

  &__product-name {
    font-size: var.$fs-s;
    margin-left: var.$spacing-s;
    display: inline-block;
    width: 50%;
  }

  &__product-price {
    font-size: var.$fs-xs;
  }

  &__product-quantity {
    margin-left: auto;
    margin-right: var.$spacing-l;
  }
  
  @include mxn.media(tab-port) {
    margin: 0 1rem;
  }
}


.cart-summary {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  
  background-color: var.$color-grey-light-1;
  padding: var.$spacing-l;
  border-radius: 2rem;

  &__title {
    font-size: var.$fs-l;
    margin-bottom: var.$spacing-s;
  }

  &__item {
    font-size: var.$fs-s;
    margin-bottom: var.$spacing-s;
  }
  
}

.cart-btn {
  grid-column: 2 / -1;
  grid-row: 3 / 4;
  align-self: start;
  justify-self: start;

}

.cart-page-controls {
  grid-column: 1 / 2;
  grid-row: 4 / -1;
  align-self: start;
  
  display: flex;
  
  &__empty-btn {
    
  }
}