@use "../abstracts/variables" as var;

.table {
  width: 100%;
  caption-side: bottom;
  border-collapse: collapse;
  font-size: var.$fs-s;
  color: var.$color-grey-dark-2;
  
  th, td  {
    padding: var.$spacing-s;
    vertical-align: top;
    text-align: left;
  }
  
  th {
    border-bottom: 1px solid var.$color-primary-dark;
  }
  
  td {
    border-bottom: 1px solid var.$color-grey-light-2;
    color: var.$color-grey-dark-2;
  }
}