@use "../abstracts/variables" as var;

.tag {
  font-size: var.$fs-xs;
  font-weight: var.$weight-medium;
  color: #fff;
  border-radius: 2rem;
  background-color: blue;
  padding: var.$spacing-2xs var.$spacing-s;
}