@mixin reset-link {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

@mixin btn-base {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}