@use "sass:map";
@use "variables" as var;

@mixin reset-link {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

@mixin btn-base {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}

$_media-breakpoints: (
                (phone-xs, 560px),
                (phone-sm, 610px),
                (phone-lg, 725px),
                (tab-port, 925px),
                (tab-land, 1200px)
);

@mixin media($breakpoint) {
  @each $name, $bp in $_media-breakpoints {
    @if $breakpoint == $name {
      @media only screen and (max-width: $bp) {
        @content;
      }
    }
  }
}

@mixin media-placeholder($ph-name) {
  @each $bp-name, $bp in $_media-breakpoints {
    %#{$ph-name} {
      @include media($bp-name) {
        @content;
      }
    }
  }
}

@mixin media-extend($ph-name, $breakpoint) {
  @include media($breakpoint) {
    @extend %#{$ph-name};
  }
}

// layout mixins
@mixin layout($columns: 1, $max-width: 144rem) {
  display: grid;
  $column-width: calc(var.$content-width / $columns);
  grid-template-columns:
    [page-start] var.$layout-padding-x [layout-start] repeat(
      $columns, [col-start] 1fr [col-end]
    )
    [layout-end] var.$layout-padding-x [page-end];
  grid-auto-rows: min-content;
}

@mixin layout-page {
  grid-column: page;
}

@mixin layout-full {
  @include layout-page;

  & > * {
    grid-column: layout;
  }
}

@mixin layout-content {
  grid-column: layout;
}

