// Colors
$color-primary-dark: #1c2837;
$color-primary-medium: #2d4059;
$color-primary-light: #3e5876;
$color-primary-pale: #80a7d9;


$color-secondary-dark: #ffc62d;
$color-secondary-medium: #ffd460;
$color-secondary-light: #ffe293;
$color-secondary-lighter: #fff6b5;

$color-sale: hsl(12, 71%, 51%);

$color-grey-light-1: #f5f5f5;
$color-grey-light-2: #d6d6d6;

$color-grey-dark-1: #8c8c8c;
$color-grey-dark-2: #545454;

$color-background: lighten($color-primary-pale, 50%);

$color-danger: #cc3300;
$color-warning: #ff9966;
$color-info: #ffcc00;
$color-success: #339900;
$color-success-light: lighten($color-success, 65%);

// Font families 
$typeface-primary: "Open Sans", sans-serif;

// Font weights
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 600;
$weight-bold: 700;

// Font sizes
$fs-3xs: .8rem;
$fs-2xs: 1rem;
$fs-xs: 1.2rem;
$fs-s: 1.4rem;
$fs-m: 1.6rem;
$fs-l: 1.8rem;
$fs-xl: 2rem;
$fs-2xl: 2.4rem;
$fs-3xl: 3rem;
$fs-4xl: 3.6rem;
$fs-5xl: 4.8rem;
$fs-6xl: 6rem;
$fs-7xl: 7.2rem;
$fs-8xl: 9.6rem;

// Spacing
$spacing-3xs: .2rem;
$spacing-2xs: .4rem;
$spacing-xs: .8rem;
$spacing-s: 1.6rem;
$spacing-m: 2.4rem;
$spacing-l: 3.2rem;
$spacing-xl: 4rem;
$spacing-2xl: 4.8rem;
$spacing-3xl: 6.4rem;
$spacing-4xl: 8rem;
$spacing-5xl: 9.6rem;
$spacing-6xl: 12.8rem;
$spacing-7xl: 16rem;
$spacing-8xl: 20rem;
$spacing-9xl: 25rem;
$spacing-10xl: 40rem;

// topbar, navbar, & footer heights
$topbar-height: 8.5rem;
$navbar-height: 6.5rem;
$footer-height: 25rem;

// vertical content span
$vertical-content-height: calc(100vh - ($topbar-height + $navbar-height + $footer-height));