@using SunRaysMarket.Server.Components.Base
@inherits LayoutComponentBase

<PageLayout LayoutType="LayoutType.Application" Element="div" xmlns="http://www.w3.org/1999/html">
    <div class="topbar">
        <div class="topbar__content">
            <NavLink href="/" class="topbar__brand">
                <picture>
                    <source media="(max-width:416px)" srcset="img/logo-phone.png"/>
                    <img src="img/logo.png" alt="Sun Rays Market Logo"/>
                </picture>
            </NavLink>

            <ProductSearch/>
            <TopBarNav/>
        </div>
    </div>
    <nav class="nav">
        <div class="nav__content">
            <NavToggle/>
            <NavMenu/>
            <NavAccount/>
        </div>
    </nav>
    <PageLayout
        CssClasses="@(StateProvider.State.LayoutClass ?? string.Empty)"
        Element="main"
        FitVerticalContent="true"
        LayoutType="LayoutType.Page">
        @Body
        <MainFooter/>
    </PageLayout>
</PageLayout>

<Modal/>

@code {
    [Inject] PageStateProvider StateProvider { get; set; } = default!;
}