@use "../abstracts/variables" as var;

.footer {
  height: var.$footer-height;
  background-color: var.$color-primary-dark;
  align-content: center;

  &__content {
    grid-column: layout-start / layout-end;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  &__list {
    align-self: center;
    
    display: flex;
    flex-wrap: wrap;
    gap: var.$spacing-s var.$spacing-m;
  }

  &__item {
    display: inline-block;
    //width: max-content;
    list-style: none;
    flex: 0 1;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;

      text-decoration: none;
      //font-family: var.$font-primary;
      font-size: 1.75rem;
      color: var.$color-grey-light-2;
      text-wrap: nowrap;
      padding-bottom: 0.15rem;
      border-bottom: 1px solid transparent;
      transition: all 200ms ease-in-out;
    }

    &:hover,
    &:active {
      color: var.$color-grey-light-1;
      border-bottom: 1px solid var.$color-grey-light-1;

      transform: translateY(-2px) scale(1.01);
    }
  }

}

.copyright {
  p {
    font-size: 1.4rem;
    color: var.$color-grey-light-2;
  }
}