@use "../abstracts/mixins" as mxn;
@use "../abstracts/variables" as var;

.layout {
  @include mxn.layout;

  &--application, &--admin {
    height: 100vh;
  }

  &--application {
    grid-template-rows: [navigation-start topbar-start] var.$topbar-height
  [topbar-end nav-start] var.$navbar-height
  [navigation-end nav-end content-start] 1fr [content-end];
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

  &--admin {
    grid-template-rows: [header-start] min-content [header-end content-start] 1fr [content-end];
    //column-gap: var.$spacing-3xl;
    row-gap: var.$spacing-3xl;
    //padding-bottom: var.$spacing-3xl;
  }

  &--page, &--full, &{
    max-width: 100vw;
  }
  
  &--page {
    @include mxn.layout-page;
  }

  &__full {
    @include mxn.layout-full;
  }

  &__content {
    @include mxn.layout-content;
  }

  &__content-vertical {
    min-height: var.$vertical-content-height;
    overflow-y: auto;
  }

  &__content-vertical--main {
    min-height: var.$vertical-content-height-main;
  }

  &__content--p-default {
    padding: var.$spacing-3xl 0;
  }
}
