@use "../abstracts/mixins" as mxn;
@use "../abstracts/variables" as var;

.checkout {
  row-gap: var.$spacing-l;
  &__content {
    display: grid;
    grid-template-columns: [left-start] 1fr [left-end right-start] min-content [right-end];
    grid-template-rows: [content-start upper-start] min-content [upper-end lower-start] 1fr [lower-end content-end];
    column-gap: var.$spacing-4xl;
  }
  
  &__sections {
    grid-column: left;
    grid-row: content;
    align-self: start;
  }

  &__summary {
    grid-column: right;
    grid-row: upper;
    
    background-color: rebeccapurple;
    width: 25rem;
    height: 50rem;
  }
  
  &__submit-btn {
    grid-column: right;
    grid-row: lower;
    align-self: start;
    justify-self: start;
  }
}


.checkout-section {
  display: grid;
  grid-template-columns: [content-start left-start] 1fr [left-end right-start] max-content [right-end content-end];
  grid-template-rows: [content-start upper-start] min-content [upper-end lower-start] 1fr [lower-end content-end];
  row-gap: var.$spacing-l;
  
  padding: var.$spacing-l;
  border: 2px solid var.$color-grey-dark-2;
  border-radius: 2rem;
  
  &__heading {
    grid-column: left;
    grid-row: upper;
    
    font-size: var.$fs-2xl;
  }
  
  &__action-btn {
    grid-column: right;
    grid-row: upper;

    display: flex;
    gap: var.$spacing-xs;
    align-items: center;
    
    @include mxn.btn-base;
    border: none;
    background: none;
    
    span {
      font-weight: var.$weight-medium;
      color: var.$color-primary-medium;
    }
    
    svg {
      height: var.$fs-s;
      aspect-ratio: 1 / 1;
      fill: var.$color-primary-medium;
    }
    
    &:hover {
      transform: translateY(-3px) scale(1.01);
      
      span {
        color: var.$color-primary-light;
      }
      
      svg {
        fill: var.$color-primary-light;
      }
      
    }
    
  }
  
  &__content {
    grid-column: content;
    grid-row: lower;
  }
}

.checkout-column {
  display: flex;
  flex-direction: column;
  gap: var.$spacing-xl;
}

.timeslots-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var.$spacing-s;
}

.timeslot {
  
  &__label {
    @include mxn.btn-base;
    display: block;
    padding: calc(var.$spacing-s + 1px);
    border: 1.5px solid var.$color-grey-dark-1;
    border-radius: 2rem;
    background-color: var.$color-grey-light-1;
    transition: transform 200ms ease-in-out, border-color 150ms ease-out;
    
    &:hover {
      transform: translateY(-2px) scale(1.005);
    }
  }
  
  &__radio:checked ~ &__label {
    padding: var.$spacing-s;
    border: 2.5px solid var.$color-success;
    background-color: var.$color-success-light;
  }
  
}