@use "../abstracts/mixins" as mxn;
@use '../abstracts/variables' as var;

.main-home {
  margin: var.$spacing-3xl 0;
}

.hero-home {
  @include mxn.layout;
  @include mxn.layout-full;
  grid-template-rows: [hero-start] 1fr [hero-end];
  
  height: fit-content;
  overflow: hidden;
  

  &__img {
    grid-column: page;
    grid-row: hero;
    display: block;
    max-height: var.$vertical-content-height;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;

  }
  
  &__grid {
    grid-row: hero;
    align-self: start;
    
    height: 100%;
    
    display: grid;
    grid-template-columns: [full-start left-start] 1fr [left-end right-start] 1fr [right-end full-end];
    grid-template-rows: [full-start top-start] 1fr [top-end bottom-start] 1fr [bottom-end full-end];
  }

  &__content {
    grid-column: left;
    grid-row: full;
    align-self: center;

    display: flex;
    flex-direction: column;
    gap: var.$spacing-4xl;
    align-items: center;

  }

  &__heading {
    font-size: var.$fs-5xl;
    font-weight: var.$weight-medium;
    text-align: center;
    color: var.$color-grey-dark-2;
    max-width: 20ch;
    
    @include mxn.media(phone-sm) {
      font-size: var.$fs-4xl;
    }
  }
}
