@use "../abstracts/mixins" as mxn;
@use '../abstracts/variables' as var;

.layout-home {
  row-gap: var.$spacing-5xl;
}

.main-home {
  margin: var.$spacing-3xl 0;
}

.hero-home {
  @include mxn.layout;
  @include mxn.layout-full;
  grid-template-rows: [hero-start] 1fr [hero-end];
  background-image: url("/img/home-hero-lg.svg");
  //background-repeat: no-repeat;
  background-size: cover;

  height: 70svh;
  overflow: hidden;

  @include mxn.media(phone-sm) {
    background-image: url("/img/home-hero-sm.svg");
  }

  &__layout {
    grid-row: hero;
    align-self: start;

    height: 70svh;

    display: grid;
    grid-template-areas: "heading photos"
                          "cta photos";
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    row-gap: var.$spacing-3xl;
  }


  &__heading {
    grid-area: heading;
    align-self: end;

    font-size: var.$fs-5xl;
    font-weight: var.$weight-medium;
    text-align: center;
    color: var.$color-grey-dark-2;
    max-width: 20ch;

    @include mxn.media(phone-sm) {
      font-size: var.$fs-4xl;
    }
  }

  &__cta {
    grid-area: cta;
    align-self: start;
  }

  &__photos {
    grid-area: photos;
    align-self: stretch;
    justify-self: stretch;
    
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 1fr);
    align-items: center;
    justify-items: end;
    
    figure {
      display: grid;
      grid-template-areas: "content";
      
      position: relative;
      
      width: 100%;
      border-radius: 20px;

      &::before, &::after, figcaption {
        position: absolute;
      }
      
      img {
        grid-area: content;
        border-radius: 20px;
        display: block;
        width: 100%;
        border: 3px solid var.$color-accent-dark;
        box-shadow: 2px 0 6px 4px rgba(#000, 0.15);
      }

      figcaption {
        grid-area: content;
        align-self: end;
        justify-self: center;
        
        display: block;
        
        text-transform: capitalize;
        background-color: var.$color-accent-dark;
        color: var.$color-grey-light-1;
        padding: var.$spacing-xs;
        border-radius: 5px;
        transform: translateY(50%);
      }
      
      &:nth-of-type(1) {
        grid-column: 3 / span 6;
        grid-row: 2 / span 3;
        align-self: center;
        
        z-index: 20;
        //transform: translateX(-15px);
      }

      &:nth-of-type(2) {
        grid-column: 12 / span 7;
        grid-row: 3 / span 5;
        align-self: center;
        z-index: 10;
      }

      &:nth-of-type(3) {
        grid-row: 7 / span 3;
        grid-column: 7 / span 4;
        align-self: center;
        z-index: 30;
        //transform: translateX(10px);
      }
    }
  }
}
