@use "../abstracts/mixins" as mxn;
@use "../abstracts/variables" as var;

.login-content {
  display: grid;
  grid-template-areas: "form sample";
  grid-template-columns: minmax(600px, 1fr) 1fr;
  grid-template-rows: 1fr;
  column-gap: var.$spacing-5xl;
  
  @include mxn.media(tab-port) {
    grid-template-areas: "sample" "form";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
  }

  &__form {
    grid-area: form;
    justify-self: start;
    
    width: 100%;
    padding: var.$spacing-2xl;
    margin: var.$spacing-4xl 0;
    box-shadow: var.$shadow-light;
    border-radius: 20px;
    
    div, input {
      width: 100%;
    }
    
  }

  &__sample {
    grid-area: sample;
   
    display: flex;
    flex-direction: column;
    gap: var.$spacing-2xl;
    
    padding: var.$spacing-2xl;
    margin: var.$spacing-4xl 0;
    box-shadow: var.$shadow-light;
    border-radius: 20px;
    
    h3 {
      font-size: var.$fs-3xl;
      font-weight: var.$weight-regular;
    }
    
    ul {
      display: flex;
      flex-direction: column;
      gap: var.$spacing-m;
      
      li {
        display: flex;
        align-items: center;
        gap: var.$spacing-l;
        list-style-type: none;
      }
      
      span {
        font-size: var.$fs-l;
        font-weight: var.$weight-medium;
      }
    }
  }
}