@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mxn;

.product-details {
  display: grid;
  grid-template-areas: "photo body";
  grid-template-columns: 2fr 3fr;

  @include mxn.media(phone-lg) {
    grid-template-areas: "photo" "body";
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }

  &__img {
    grid-area: photo;
    align-self: center;
    justify-self: center;

    display: block;
    width: 80%;
  }


  &__body {
    grid-area: body;

    display: grid;
    grid-template-areas: 
            "name tag"
            "price unit"
            "description description"
            "quant quant";
    grid-template-columns: 1fr max-content;
    grid-auto-rows: min-content;
    align-items: center;
    gap: 0 2rem;
    margin: 4rem;

    @include mxn.media(phone-xs) {
      grid-template-areas:
              "tag tag"
              "name name"
              "price unit"
              "quant quant"
              "description description"
    }
  }


  &__name {
    grid-area: name;

    font-size: 3.6rem;
    font-weight: 300;
    color: var.$color-grey-dark-2;
  }

  &__tag {
    grid-area: tag;


    font-size: 1.4rem;
    font-weight: 300;
    color: #fff;
    background-color: blue;
    //margin-top: 1.25rem;
    //margin-right: 1rem;
    padding: 0.2rem 0.75rem;

    @include mxn.media(phone-xs) {
      justify-self: start;
    }

  }

  &__price {
    grid-area: price;
    justify-self: start;

    margin-top: 1.6rem;
  }

  &__unit-price {
    grid-area: unit;
    justify-self: end;

    margin-top: 1rem;
  }

  &__description {
    grid-area: description;
    justify-self: start;

    margin-top: 3.6rem;
    margin-bottom: 6rem;
  }

  &__cart-controls {
    grid-area: quant;
    justify-self: start;

    @include mxn.media(phone-xs) {
      margin-top: var.$spacing-2xl;
    }


  }

  &__btn {
    &--hidden {
      display: none !important;
    }
  }

}