@using Application.DomainModels
@using Application.Services
@using Application.UnitOfWork
@using Application.Utilities
@inherits OwningComponentBase<IUnitOfWork>
@using Web.Cookies

<section class="section">
    <h3 class="section-heading">@Heading</h3>
    <div class="card-grid">
        @foreach (var product in FeaturedProducts)
        {
            <ProductCard Product="@product" CartItemInfoList="@CartItemInfo"/>
        }
    </div>
</section>

@code {

    [CascadingParameter]
    HttpContext? Context { get; set; }

    [Parameter]
    public string Heading { get; set; } = string.Empty;

    [Parameter]
    public IEnumerable<ProductListModel> FeaturedProducts { get; set; } = new List<ProductListModel>();

    private int? CartId { get; set; }

    private IEnumerable<CartItemControlModel> CartItemInfo { get; set; } = new List<CartItemControlModel>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        if (Context != null)
        {
            CartId = Context.Request.Cookies.GetCartIdCookie();

            if (CartId.HasValue)
                CartItemInfo = await Service.CartRepository.GetAllCartItemInfoAsync(CartId.Value);   
        }
    }

}