@namespace SunRaysMarket.Server.Components
@using Microsoft.Extensions.Logging
@inherits OwningComponentBase<SunRaysMarket.Shared.Core.Services.ICartControlsService> 
@attribute [StreamRendering]

<section class="section">
    <h3 class="section-heading">@Heading</h3>

    @if (Products.Any() || !DataLoadingComplete)
    {
        <div class="card-grid">
            @foreach (var product in Products)
            {
                <ProductCard Product="@product" CartItemInfoList="@CartItemInfo"/>
            }
        </div>
    }
    else
    {
        <p> @FailureMessage </p>
    }
</section>

@code {
    [Inject] private ILogger<ProductSection>? Logger { get; set; }

    [Parameter] [EditorRequired] public string Heading { get; set; } = string.Empty;
    [Parameter] [EditorRequired] public IAsyncEnumerable<ProductListModel> StreamedProducts { get; set; } = default!;
    [Parameter] public string FailureMessage { get; set; } = "No products found";

    private List<ProductListModel> Products { get; set; } = [];
    private IEnumerable<CartItemControlModel> CartItemInfo { get; set; } = [];
    private bool DataLoadingComplete { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CartItemInfo = await Service.GetAllCartItemInfoAsync();

        await foreach (var product in StreamedProducts)
        {
            //await Task.Delay(2000);
            Products.Add(product);
            StateHasChanged();
        }

        DataLoadingComplete = true;
    }

}