@page
@model Add

@{
    ViewData["Title"] = "Add Department";
}


<form class="form--admin" enctype="multipart/form-data" method="post">
    <div class="form__admin-group">

        <div>
            <input type="text" class="form__input" placeholder="Enter product name" id="name" asp-for="NewDepartment.Name">
            <label for="name" class="form__label form__label--input">Name</label>

        </div>
        <div>
            <input type="text" class="form__input" placeholder="Enter product description" id="description" asp-for="NewDepartment.Description">
            <label for="description" class="form__label form__label--input">Description</label>

        </div>
    </div>

    <div>
        <button type="submit" class="btn btn--primary">
            Submit
        </button>
    </div>
</form>