@page
@model Web.Pages.Admin.Deparment.Index

@{
}


<div class="layout__content">
    <a href="/Admin/Department/Add" class="btn btn--primary">
        Add Department
    </a>
</div>

<div class="layout__content">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var department in Model.Departments)
        {
            <tr>
                <td>@department.Id</td>
                <td>@department.Name</td>
                <td>
                    <a href="#">Edit</a> |
                    <a href="#">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>