@using Application.DomainModels
<WizardStep Name="billing-info">
    <EditForm EditContext="@EditContext" FormName="BillingAddressForm">
        <div>
            <label for="street">Street</label>
            <InputText @bind-Value="@BillingAddress!.Street" id="street"/>
        </div>
        <div>
            <label for="city">City</label>
            <InputText @bind-Value="@BillingAddress!.City" id="city"/>
        </div>
        <div>
            <label for="state">City</label>
            <InputText @bind-Value="@BillingAddress!.State" id="state"/>
        </div>
        <div>
            <label for="zip">Zip</label>
            <InputText @bind-Value="@BillingAddress!.PostalCode" id="zip"/>
        </div>
        <div>
            <label for="country">Country</label>
            <InputText @bind-Value="@BillingAddress!.Country" id="country"/>
        </div>
    </EditForm>
</WizardStep>

@code {

    [CascadingParameter]
    IStore? Store { get; set; }

    private CreateAddressModel? BillingAddress { get; set; }
    private EditContext? EditContext { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (Store is null)
            throw new InvalidOperationException("No store was provided");

        Store.OnChange += StateHasChanged;
    }

    protected override async Task OnInitializedAsync()
    {
        BillingAddress= await Store!.TryGetValueAsync<CreateAddressModel>("billing-address")
                          ?? new CreateAddressModel();
        EditContext = new EditContext(BillingAddress);
        EditContext.OnFieldChanged += EditContext__OnFieldChange;
    }

    private async void EditContext__OnFieldChange(object? sender, FieldChangedEventArgs e)
    {
        BillingAddress = EditContext!.Model as CreateAddressModel;
        await Store!.SetValueAsync("billing-address", BillingAddress);
    }
}