@using Application.DomainModels
@using Application.Services
@using Application.UnitOfWork
@using Application.Utilities
@using Application.Cookies
@inherits OwningComponentBase<ICartService> 

<section class="section">
    <h3 class="section-heading">@Heading</h3>
    @if (FeaturedProducts.Any())
    {
        <div class="card-grid">
            @foreach (var product in FeaturedProducts)
            {
                <ProductCard Product="@product" CartItemInfoList="@CartItemInfo"/>
            }
        </div>
    }
    else
    {
        <p> @FailureMessage </p>
    }

</section>

@code {
    [Parameter] public string Heading { get; set; } = string.Empty;

    [Parameter] public IEnumerable<ProductListModel> FeaturedProducts { get; set; } = [];

    [Parameter] public string FailureMessage { get; set; } = "No products found";

    private int? CartId { get; set; }

    private IEnumerable<CartItemControlModel> CartItemInfo { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        CartItemInfo = await Service.GetAllCartItemInfoAsync();
    }

}