@rendermode InteractiveAuto

@if (Parent.IsStepActive(Name))
{
    <div class="wizard-step">
        <h3 class="wizard-step__title">@Title</h3>
        @ChildContent
    </div>
}

@code {

    [CascadingParameter, EditorRequired] protected internal Wizard Parent { get; set; } = null!;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter, EditorRequired] public string Name { get; set; } = null!;

    [Parameter, EditorRequired] public string Title { get; set; } = null!;
 
    protected override void OnInitialized()
    {
        if (Parent is null)
            throw new InvalidOperationException("This component must be used inside a Wizard component");

        Parent.AddStep(Name);
    }
    
    protected override bool ShouldRender() => Parent.IsStepActive(Name);
}