@page
@model Web.Pages.Admin.ProductLists.Edit

@{
    ViewData["Title"] = "Orders Admin Page";
}

<div class="layout__content">
    <table class="table">
        <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Product 1</td>
            <td>$4.99</td>
            <td>2021-10-01</td>
            <td>
            <a href="/Admin/ProductLists/Delete/1" class="btn btn-danger">Remove</a>
        </tr>

        </tbody>
    </table>
</div>