@page
@model Web.Pages.Admin.ProductLists.Index

@{
    ViewData["Title"] = "Product Lists Admin Page";
}

<div class="layout__content">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Product List 1</td>
            <td>Department 1</td>
            <td>
                <a href="/Admin/ProductLists/Edit/1" class="btn btn-primary">Edit</a>
                <a href="/Admin/ProductLists/Delete/1" class="btn btn-danger">Delete</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>