<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" href="~/img/favicon.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"/>
    <link rel="stylesheet" href="~/css/dev/main.css"/>
    @await RenderSectionAsync("StyleSheets", required: false)
    <title>Sun Rays Market Admin | @ViewData["Title"]</title>
</head>
<body>

<div class="layout layout--admin">
    <header class="layout layout__full admin-header">
        <h1 class="admin-header__heading">@ViewData["Title"]</h1>
    </header>
    <div class="admin-sidebar">
        <ul class="admin-sidebar__menu">
            <li class="admin-sidebar__item">
                <a href="/Admin/Cart" class="admin-sidebar__link">Carts</a>
            </li>
            <li class="admin-sidebar__item">
                <a href="/Admin/Order" class="admin-sidebar__link">Orders</a>
            </li>
            <li class="admin-sidebar__item">
                <a href="/Admin/ProductLists" class="admin-sidebar__link">ProductLists</a>
            </li>
            <li class="admin-sidebar__item">
                <a href="/Admin/Products" class="admin-sidebar__link">Products</a>
            </li>
            <li class="admin-sidebar__item">
                <a href="/Admin/ProductType" class="admin-sidebar__link">Product Type</a>
            </li>
            <li class="admin-sidebar__item">
                <a href="/Admin/User" class="admin-sidebar__link">User</a>
            </li>
        </ul>
    </div>
    <div class="admin-content">
        @RenderBody()
    </div>
</div>

</body>
</html>