@namespace SunRaysMarket.Server.Components

@inherits OwningComponentBase<ICartService> 
@attribute [StreamRendering]

<section class="section">
    <h3 class="section-heading">@Heading</h3>

    @if (DisplayProducts.Any())
    {
        <div class="card-grid">
            @foreach (var product in DisplayProducts)
            {
                <ProductCard Product="@product" CartItemInfoList="@CartItemInfo"/>
            }
        </div>
    }
    else
    {
        <p> @FailureMessage </p>
    }
</section>

@code {
    [Parameter, EditorRequired] public string Heading { get; set; } = string.Empty;
    [Parameter, EditorRequired] public IAsyncEnumerable<ProductListModel> FeaturedProducts { get; set; } = default!;
    [Parameter] public string FailureMessage { get; set; } = "No products found";

    private IEnumerable<CartItemControlModel> CartItemInfo { get; set; } = [];
    private List<ProductListModel> DisplayProducts { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        CartItemInfo = await Service.GetAllCartItemInfoAsync();

        await foreach (var product in FeaturedProducts)
        {
            DisplayProducts.Add(product);
            StateHasChanged();
        }
    }

}